    h1 {
      text-align: center;
      text-transform: capitalize;
      font-family: Arial, Helvetica, sans-serif;
    }

    .input-container {
      width: max-content;
      margin-inline: auto;
    }

    .input-container input {
      width: 250px;
      font-size: 18px;
      border: none;
      background-color: hsl(0, 0%, 80%);
      padding: 10px 15px;
      outline: none;
      border: 1px solid hsl(0, 0%, 40%);
      border-radius: 5px;
    }
    .input-container button {
      font-weight: bold;
      font-size: 18px;
      background-color: hsl(226, 37%, 20%);
      padding: 10px 15px;
      color: white;
      text-transform: capitalize;
      border: 1px solid hsl(226, 37%, 20%);
      border-radius: 5px;
      cursor: pointer;
    }

    .todo-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 30px;
      margin-inline: auto;
      width: max-content;
    }

    .individual-todo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 700px;
      align-items: center;
      border: 2px solid hsl(240, 100%, 20%);
      padding-inline: 20px;
      border-radius: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      box-shadow: 0 0 5px gray;
      color: black;
    }
    .animation-effect {
      animation: display-from 0.8s ease;
    }
    @keyframes display-from {
      from {
        transform: rotate(30deg);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: rotate(0);
      }
    }
    .button {
      cursor: pointer;
      font-size: 15px;
      padding: 5px 10px;
      margin-left: 10px;
      border-radius: 5px;
      color: white;
      background-color: green;
      border: none;
      font-weight: bold;
    }
    .delete {
      background-color: hsl(0, 100%, 30%);
      border-radius: 0;
    }